.activities {
	width: section-width;
	margin-top: $section-margin-top;
	text-align: right;

	.right {

		hr {
			border-color: $theme-color-activities;
			margin-left: 70%;
		}

		a {
			color: $theme-color-activities;
			border: 2px solid $theme-color-activities;

			&:hover {
				background-color: $theme-color-activities;
			}
		}	
	}

	.img-left {
		text-align: left;

		img {
			width: $width-section-img;
			box-shadow: $box-shadow-section-img-left;
		}
	}
}