.activities {
	width: section-width;
	margin-top: $section-margin-top;
	text-align: right;

	.img-left {
		text-align: left;

		img {
			width: $width-section-img;
			box-shadow: $box-shadow-section-img-left;
		}
	}

	.introduction-right {
		display: inline-block;

		h1 {
			font-size: $font-size-h1;
			font-family: $serif-h;
			padding-bottom: $section-padding-bottom-h1;
		}

		hr {
			width: $width-introduction-hr;
			border-width: $border-width-introduction-hr;
			border-color: $theme-color-activities;
			margin-left: 65%;
		}

		.paragraph {
			margin: $section-margin-top-bottom-paragraph;

			p {
				font-size: $font-size-p;
				font-weight: $font-weight-light;
			}
		}
	}
}