.activities {
	width: section-width;
	margin-top: $section-margin-top;
	text-align: right;

	.introduction-right {
		display: inline-block;

		h1 {
			font-size: $font-size-h1;
			font-family: $serif-h;
			padding-bottom: $section-padding-bottom-h1;
		}

		hr {
			width: $width-introduction-hr;
			border-width: $border-width-introduction-hr;
			border-color: $theme-color-activities;
			margin-left: 70%;
		}

		a {
			display: inline-block;
			font-size: $font-size-p;
			color: $theme-color-activities;
			border: 2px solid $theme-color-activities;
			border-radius: 20px;
			box-shadow: 0 2px 3px;
			padding: 10px 15px;
			margin-top: 3%;

			&:hover {
				color: $font-color-white;
				background-color: $theme-color-activities;
			}
		}	
	}

	.paragraph {
		margin: $section-margin-top-bottom-paragraph;

		p {
			font-size: $font-size-p;
			font-weight: $font-weight-light;
		}
	}

	.img-left {
		text-align: left;

		img {
			width: $width-section-img;
			box-shadow: $box-shadow-section-img-left;
		}
	}
}