.bottom {
	width: $section-width;
	text-align: center;
	margin: 250px 0 100px;

	img {
		width: $width-bottom-img;
		box-shadow: $box-shadow-section-img-center;
	}

	p {
		font-size: $font-size-p;
		font-weight: $font-weight-light;
		margin: 30px 0;
	}
}