.food {
	width: $section-width;
	margin-top: $section-margin-top;

	.left {

		hr {
			border-color: $theme-color-food;
			margin-left: 4%;
		}

		a {
			color: $theme-color-food;
			border: 2px solid $theme-color-food;
			
			&:hover {
				background-color: $theme-color-food;
			}
		}		
	}

	.img-right {
		text-align: right;

		img {
			width: $width-section-img;
			box-shadow: $box-shadow-section-img-right;
		}
	}
}