.islands {
	width: $section-width;
	margin-top: $section-margin-top;

	.left {

		hr {
			border-color: $theme-color-islands;
			margin-left: 6%;
		}

		a {
			color: $theme-color-islands;
			border: 2px solid $theme-color-islands;

			&:hover {
				background-color: $theme-color-islands;
			}
		}	
	}
		
	.img-right {
		text-align: right;

		img {
			width: $width-section-img;
			box-shadow: $box-shadow-section-img-right;
		}
	}

}