.islands {
	width: $section-width;

	.introduction {
		margin-top: 50px;
	}

	h1 {
		width: auto;
		font-size: $font-size-h1;
		font-family: $serif-h;
		padding-bottom: $section-padding-bottom-h1;
	}

	hr {
		width: 4%;
		border-width: 0.5px;
		border-color: $theme-color-islands;
		margin-left: 3%;
	}

	.paragraph {
		margin: $section-margin-top-bottom-paragraph;

		p {
			font-size: $font-size-p;
			font-weight: $font-weight-light;
		}
	}

	.img-right {
		text-align: right;

		img {
			width: 50%;
			box-shadow: -10px -10px 15px rgba(0, 0, 0, 0.1);
		}
	}

}