@mixin button($mixin-theme-color) {
	display: inline-block;
	font-size: $font-size-p;
	border-radius: 20px;
	box-shadow: 0 2px 3px;
	padding: 10px 15px;
	margin-top: 3%;
	color: $mixin-theme-color;
	border: 2px solid $mixin-theme-color;
}

@mixin buttton-hover($mixin-theme-color) {
	color: $font-color-white;
	background-color: $mixin-theme-color;
}