@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Lato');

$sans-base: 'Lato', sans-serif;
$serif-h: 'Crimson Text', serif;
$sans-header: 'Montserrat', sans-serif;

html {
	font-family: $sans-base;
	font-size: 100%;
	line-height: 1.2;
	font-weight: 400;
	-webkit-font-smoothing: subpixel-antialiased;
	font-variant-ligatures: common-ligatures;
	font-size: 20px;
}


::selection {
	color: white;
	background: black;
}