//background-color
$background-color-body: #ffffff;
$background-color-header-footer: #CFCFCF;


//section
$section-width: 100%;
$section-padding-bottom-h1: 10px;
$section-margin-top-bottom-paragraph: 2% 0;


// section description
$theme-color-description: #0B61E2;
$margin-top-paragraph-description: 10%;

//section islands
$theme-color-islands: #86CB32;