//background-color
$background-color-body: #ffffff;
$background-color-header-footer: #CFCFCF;

//section
$section-width: 100%;
$section-margin-top: 20%;
$section-padding-bottom-h1: 10px;
$section-margin-top-bottom-paragraph: 24px 0;

//section introduction
$margin-top-introduction-left-h1: 20%;
$margin-top-introduction-right-h1: 10%;
$width-introduction-hr: 40px;
$border-width-introduction-hr: 0.5px;

//section img
$width-section-img: 50%;
$box-shadow-section-img-right: 10px 10px 15px rgba(0, 0, 0, 0.1);
$box-shadow-section-img-left: -10px -10px 15px rgba(0, 0, 0, 0.1);
$box-shadow-section-img-center: 0 10px 15px rgba(0, 0, 0, 0.1);

//theme-color
$theme-color-islands: #86CB32;
$theme-color-activities: #8F6FFA;
$theme-color-food: #F27E42;

// section description
$theme-color-description: #0B61E2;
$margin-top-paragraph-description: 10%;

//footer
$margin-right-footer-items: 3%; 