/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text");
@import url("https://fonts.googleapis.com/css?family=Hind+Vadodara");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  list-style: none;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  background-color: #ffffff;
  width: 100%;
}

main {
  display: block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

html {
  font-family: "Hind Vadodara", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #707070;
}

.header-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.header-nav-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #CFCFCF;
  height: 130px;
}

.header-nav-ul-left, .header-nav-ul-right {
  display: inline-block;
  width: 30%;
}

.header-nav-ul-left > li, .header-nav-ul-right > li {
  display: inline-block;
  margin: 0 15%;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
}

.header-nav-ul a {
  color: #707070;
  position: relative;
}

.header-nav-ul a::before, .header-nav-ul a::after {
  position: absolute;
  content: '';
  border-bottom: 2px solid #707070;
  bottom: -10px;
  display: inline;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  width: 0;
}

.header-nav-ul a::before {
  left: 50%;
}

.header-nav-ul a::after {
  right: 50%;
}

.header-nav-ul a:hover::before, .header-nav-ul a:hover::after {
  width: 50%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
}

.top {
  text-align: center;
}

.top img {
  width: 100%;
  margin-top: 15%;
}

.description {
  width: 100%;
  margin-top: 20%;
}

.description h1 {
  width: auto;
  font-size: 2.5rem;
  font-family: "Crimson Text", serif;
  padding-bottom: 10px;
}

.description hr {
  width: 4%;
  border-width: 0.5px;
  border-color: #0B61E2;
  margin-left: 3%;
}

.description .descriptionparagraph {
  margin-top: 5%;
}

.description .descriptionparagraph p {
  font-size: 1.2rem;
  font-weight: lighter;
}

.introduction {
  display: inline-block;
}

.introduction h1 {
  font-size: 2.5rem;
  font-family: "Crimson Text", serif;
  padding-bottom: 10px;
}

.introduction hr {
  width: 40px;
  border-width: 0.5px;
}

.introduction .paragraph {
  margin: 24px 0;
}

.introduction .paragraph p {
  font-size: 1.2rem;
  font-weight: lighter;
}

.islands {
  width: 100%;
  margin-top: 20%;
}

.islands .left hr {
  border-color: #86CB32;
  margin-left: 6%;
}

.islands .left a {
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 20px;
  box-shadow: 0 2px 3px;
  padding: 10px 15px;
  margin-top: 3%;
  color: #86CB32;
  border: 2px solid #86CB32;
}

.islands .left a:hover {
  color: #FFFFFF;
  background-color: #86CB32;
}

.islands .img-right {
  text-align: right;
}

.islands .img-right img {
  width: 50%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.activities {
  width: section-width;
  margin-top: 20%;
  text-align: right;
}

.activities .right hr {
  border-color: #8F6FFA;
  margin-left: 70%;
}

.activities .right a {
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 20px;
  box-shadow: 0 2px 3px;
  padding: 10px 15px;
  margin-top: 3%;
  color: #8F6FFA;
  border: 2px solid #8F6FFA;
}

.activities .right a:hover {
  color: #FFFFFF;
  background-color: #8F6FFA;
}

.activities .img-left {
  text-align: left;
}

.activities .img-left img {
  width: 50%;
  box-shadow: -10px -10px 15px rgba(0, 0, 0, 0.1);
}

.food {
  width: 100%;
  margin-top: 20%;
}

.food .left hr {
  border-color: #F27E42;
  margin-left: 4%;
}

.food .left a {
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 20px;
  box-shadow: 0 2px 3px;
  padding: 10px 15px;
  margin-top: 3%;
  color: #F27E42;
  border: 2px solid #F27E42;
}

.food .left a:hover {
  color: #FFFFFF;
  background-color: #F27E42;
}

.food .img-right {
  text-align: right;
}

.food .img-right img {
  width: 50%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.bottom {
  width: 100%;
  text-align: center;
  margin: 250px 0 100px;
}

.bottom img {
  width: 40%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.bottom p {
  font-size: 1.2rem;
  font-weight: lighter;
  margin: 30px 0;
}

footer {
  width: 100%;
  height: 130px;
  background-color: #CFCFCF;
}

footer .footer-nav {
  width: 100%;
  height: 60px;
  display: inline-block;
  text-align: right;
  margin-top: 50px;
}

footer .footer-nav p {
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 3%;
}

footer .footer-nav i {
  font-size: 1.875rem;
  margin-right: 3%;
}

footer .footer-nav a {
  color: #707070;
}
